---
import BaseLayout from '../layouts/BaseLayout.astro';
import en from '../data/locales/en.json';
---

<BaseLayout lang="en" title="404 – Hanzel Godinez">
  <div class="max-w-full">
    <div class="flex items-center flex-shrink-0 text-white ml-6 mt-6">
      <a href="/" class="flex inline-block">
        <p class="text-4xl font-bold text-black">&lt;/</p>
        <p class="text-4xl font-bold text-blue-500">&gt;</p>
      </a>
    </div>

    <!-- Desktop -->
    <div class="hidden md:flex inline-block justify-center mt-40">
      <h1 class="font-bold text-gray-700" style="font-size: 12rem">4</h1>
      <img
        src="/imgs/404.jpg"
        class="border rounded-full border-solid border-8 border-gray-600 w-40 h-40 mt-16"
        alt="404"
      />
      <h1 class="font-bold text-gray-700" style="font-size: 12rem">4</h1>
    </div>

    <!-- Mobile -->
    <div class="flex inline-block justify-center mt-32 md:hidden">
      <h1 class="font-bold text-gray-700" style="font-size: 6rem">4</h1>
      <img
        src="/imgs/404.jpg"
        class="border rounded-full border-solid border-8 border-gray-600 w-24 h-24 mt-8"
        alt="404"
      />
      <h1 class="font-bold text-gray-700" style="font-size: 6rem">4</h1>
    </div>

    <div class="block text-center mt-8">
      <h2 class="font-light text-gray-700 mb-8">{en.page_not_found}</h2>
      <a
        href="/"
        class="bg-blue-500 hover:bg-blue-700 text-white font-normal text-base py-2 px-12 rounded"
      >
        {en.back_home}
      </a>
    </div>
  </div>
</BaseLayout>
