---
import { useTranslations } from '../i18n/utils';
import type { Lang } from '../i18n/ui';
import ContactForm from './ContactForm';
import Social from './Social';

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="max-w-full mt-24 bg-gray-800">
  <div class="max-w-4xl mx-auto">
    <h2 id="contact" class="text-3xl font-bold text-center text-white pt-16">
      {t('contact_me')}
    </h2>
    <div class="h-1 mx-auto bg-indigo-200 w-24 opacity-75 mt-4 rounded"></div>
    <ContactForm client:idle lang={lang} />
  </div>
  <Social client:visible lang={lang} />
</div>
